<%- include('partials/header'); %>
<h1>Compose</h1>
<form class="" action="/" method="post">
  <input type="text" name="newInput">
  <input type="submit" value="Submit">
</form>
<%- include('partials/footer'); %>
